<div class="col-md-4" *ngFor="let fruit of fruits">
<div class="card h-100 text-center">
  <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
    {{fruit.title}}
    <button class="btn btn-danger" (click)="deleteFruit(fruit.id)">
      DELETE
    </button>
  </div>
  <img src="{{fruit.image}}" class="card-img-top">
  <div class="card-body">
    <p>
      {{fruit.description}}
    </p>
    <a [routerLink]="['/fruits/edit', fruit.id]" class="btn btn-info btn-block">
      EDIT 
    </a>
  </div>
</div>

</div>
