<div class="col-md-3" *ngFor="let fruit of fruits" style="display: inline-block;">
<div class="card h-100 text-center">
  <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
    {{fruit.title}}
    <button class="btn btn-danger" (click)="deleteFruit(fruit.id)">
      DELETE
    </button>
  </div>
  <img src="{{fruit.image}}" class="card-img-top">
  <div class="card-body" style="height: 120px;">
    <p>
      {{fruit.description}}
    </p>

  </div>
  <a [routerLink]="['/fruits/edit', fruit._id]" class="btn btn-info btn-block">
    EDIT 
  </a>
</div>

</div>
